-- DropForeignKey
ALTER TABLE "sessions" DROP CONSTRAINT "sessions_user_id_fkey";

-- DropForeignKey
ALTER TABLE "user_preferences" DROP CONSTRAINT "user_preferences_user_id_fkey";

-- DropForeignKey
ALTER TABLE "wine_pairings" DROP CONSTRAINT "wine_pairings_wineId_fkey";

-- DropIndex
DROP INDEX "wine_recommendations_created_at_idx";

-- AlterTable
ALTER TABLE "users" DROP CONSTRAINT "users_pkey",
DROP COLUMN "id",
ADD COLUMN     "id" UUID NOT NULL DEFAULT gen_random_uuid(),
ALTER COLUMN "email" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "role" DROP NOT NULL,
ALTER COLUMN "role" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "is_email_verified" DROP NOT NULL,
ALTER COLUMN "email_verification_token" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "last_login" SET DATA TYPE TIMESTAMPTZ(6),
ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "sessions" DROP CONSTRAINT "sessions_pkey",
DROP COLUMN "id",
ADD COLUMN     "id" UUID NOT NULL DEFAULT gen_random_uuid(),
DROP COLUMN "user_id",
ADD COLUMN     "user_id" UUID NOT NULL,
ALTER COLUMN "device" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "ip" SET DATA TYPE VARCHAR(45),
ALTER COLUMN "expires_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "revoked_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "last_used" SET DATA TYPE TIMESTAMPTZ(6),
ADD CONSTRAINT "sessions_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "user_preferences" DROP CONSTRAINT "user_preferences_pkey",
DROP COLUMN "user_id",
ADD COLUMN     "user_id" UUID NOT NULL,
ALTER COLUMN "data_json" SET DEFAULT '{}',
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMPTZ(6),
ADD CONSTRAINT "user_preferences_pkey" PRIMARY KEY ("user_id");

-- AlterTable
ALTER TABLE "wine_recommendations" DROP CONSTRAINT "wine_recommendations_pkey",
DROP COLUMN "id",
ADD COLUMN     "id" UUID NOT NULL DEFAULT gen_random_uuid(),
ALTER COLUMN "request_id" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "prompt_version" DROP NOT NULL,
ALTER COLUMN "prompt_version" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "api_response_time_ms" DROP NOT NULL,
ALTER COLUMN "model_used" DROP NOT NULL,
ALTER COLUMN "model_used" SET DEFAULT 'claude-sonnet-4-5-20250929',
ALTER COLUMN "model_used" SET DATA TYPE VARCHAR(100),
ALTER COLUMN "dominant_weight" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "fat_content" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "spice_level" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "acidity_level" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "cooking_method" SET DATA TYPE VARCHAR(100),
ALTER COLUMN "sauce" SET DATA TYPE VARCHAR(100),
ALTER COLUMN "sauce_characteristic" SET DATA TYPE VARCHAR(100),
ALTER COLUMN "max_abv" SET DATA TYPE VARCHAR(20),
ALTER COLUMN "ideal_acidity" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "ideal_acid_type" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "ideal_tannin" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "ideal_body" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "ideal_sweetness" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "tier_label" SET DATA TYPE VARCHAR(100),
ALTER COLUMN "tier_fallback_applied" DROP NOT NULL,
ALTER COLUMN "vintage" SET DATA TYPE VARCHAR(50),
ALTER COLUMN "category" SET DATA TYPE VARCHAR(100),
ADD CONSTRAINT "wine_recommendations_pkey" PRIMARY KEY ("id");

-- DropTable
DROP TABLE "wines";

-- DropTable
DROP TABLE "wine_pairings";

-- CreateTable
CREATE TABLE "dish_recommendations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "request_id" VARCHAR(255) NOT NULL,
    "wine" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "user_id" UUID,
    "prompt_version" VARCHAR(50),
    "api_response_time_ms" INTEGER,
    "model_used" VARCHAR(100) DEFAULT 'claude-sonnet-4-5-20250929',
    "wine_producer" VARCHAR(255),
    "wine_region" VARCHAR(255),
    "wine_vintage" VARCHAR(50),
    "wine_vintage_age" VARCHAR(50),
    "wine_color" VARCHAR(50),
    "wine_body" VARCHAR(50),
    "wine_acidity" VARCHAR(50),
    "wine_acid_type" VARCHAR(50),
    "wine_tannin" VARCHAR(50),
    "wine_tannin_character" VARCHAR(50),
    "wine_sweetness" VARCHAR(50),
    "wine_abv" VARCHAR(20),
    "wine_primary_aromas" TEXT[],
    "wine_secondary_aromas" TEXT[],
    "wine_tertiary_aromas" TEXT[],
    "wine_dominant_compounds" TEXT[],
    "wine_key_strength" TEXT,
    "wine_ideal_dish_profile" TEXT,
    "serving_temperature" TEXT,
    "serving_glassware" TEXT,
    "serving_decanting" TEXT,
    "complexity_label" VARCHAR(100),
    "dish_name" TEXT,
    "pairing_rationale" TEXT,
    "pairing_principles_applied" TEXT[],
    "ingredients_protein" TEXT[],
    "ingredients_sauce" TEXT[],
    "ingredients_sides" TEXT[],
    "recipe_steps" TEXT[],
    "cook_time_prep" VARCHAR(50),
    "cook_time_cook" VARCHAR(50),
    "cook_time_total" VARCHAR(50),
    "serving_suggestion" TEXT,
    "confidence_score" INTEGER,
    "confidence_pairing_science" INTEGER,
    "confidence_wine_knowledge" INTEGER,
    "confidence_recipe_quality" INTEGER,
    "confidence_rationale" TEXT,
    "full_response_json" JSONB,

    CONSTRAINT "dish_recommendations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wine_records" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "schema_version" INTEGER NOT NULL DEFAULT 1,
    "data" JSONB NOT NULL,
    "wine_name" TEXT DEFAULT (data #>> '{wineIdentity,wineName,value}'::text[]),
    "producer" TEXT DEFAULT (data #>> '{wineIdentity,producer,value}'::text[]),
    "vintage" TEXT DEFAULT (data #>> '{wineIdentity,vintage,value}'::text[]),
    "region" TEXT DEFAULT (data #>> '{geography,region,value}'::text[]),
    "appellation" TEXT DEFAULT (data #>> '{geography,appellation,value}'::text[]),
    "data_use_status" TEXT DEFAULT (data #>> '{compliance,dataUseStatus}'::text[]),
    "has_attribution" BOOLEAN DEFAULT (COALESCE(jsonb_array_length(jsonb_path_query_array(data, '$."expertRatings"?(@."provenance" == "attribution_required")'::jsonpath)), 0) > 0),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "classification_category" TEXT DEFAULT (data #>> '{classification,category,value}'::text[]),
    "grape_variety" TEXT DEFAULT (data #>> '{composition,grapeVariety,value}'::text[]),
    "alcohol_level_text" TEXT DEFAULT (data #>> '{composition,alcoholLevel,value}'::text[]),
    "alcohol_level_abv" DECIMAL DEFAULT (NULLIF(regexp_replace(COALESCE((data #>> '{composition,alcoholLevel,value}'::text[]), ''::text), '[^0-9\.]+'::text, ''::text, 'g'::text), ''::text))::numeric,
    "price_point_value" DECIMAL DEFAULT (NULLIF(regexp_replace(COALESCE((data #>> '{market,pricePoint,value}'::text[]), ''::text), '[^0-9\.]+'::text, ''::text, 'g'::text), ''::text))::numeric,
    "price_point_currency" TEXT DEFAULT (data #>> '{market,pricePoint,currency}'::text[]),
    "availability_text" TEXT DEFAULT (data #>> '{market,availability,value}'::text[]),
    "attribution_required_count" INTEGER DEFAULT COALESCE(jsonb_array_length(jsonb_path_query_array(data, '$."expertRatings"?(@."provenance" == "attribution_required")'::jsonpath)), 0),
    "last_updated_text" TEXT DEFAULT (data #>> '{compliance,lastUpdated}'::text[]),
    "confidence_level" TEXT DEFAULT (data #>> '{compliance,confidenceLevel}'::text[]),

    CONSTRAINT "wine_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wine_records_audit" (
    "audit_id" BIGSERIAL NOT NULL,
    "wine_id" UUID NOT NULL,
    "action" TEXT NOT NULL,
    "changed_by" TEXT DEFAULT current_setting('request.jwt.claim.sub'::text, true),
    "old_data" JSONB,
    "new_data" JSONB,
    "changed_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "wine_records_audit_pkey" PRIMARY KEY ("audit_id")
);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_complexity_label" ON "dish_recommendations"("complexity_label" ASC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_confidence_score" ON "dish_recommendations"("confidence_score" ASC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_created_at" ON "dish_recommendations"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_dish_name" ON "dish_recommendations"("dish_name" ASC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_request_id" ON "dish_recommendations"("request_id" ASC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_wine" ON "dish_recommendations"("wine" ASC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_wine_producer" ON "dish_recommendations"("wine_producer" ASC);

-- CreateIndex
CREATE INDEX "idx_dish_recommendations_wine_region" ON "dish_recommendations"("wine_region" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_appellation" ON "wine_records" USING GIN ("appellation" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_availability_text" ON "wine_records" USING GIN ("availability_text" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_classification_category" ON "wine_records" USING GIN ("classification_category" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_confidence_level" ON "wine_records"("confidence_level" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_data_use_status" ON "wine_records"("data_use_status" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_grape_variety" ON "wine_records" USING GIN ("grape_variety" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_json" ON "wine_records" USING GIN ("data" jsonb_path_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_last_updated_text" ON "wine_records"("last_updated_text" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_price_point_value" ON "wine_records"("price_point_value" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_producer" ON "wine_records" USING GIN ("producer" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_region" ON "wine_records" USING GIN ("region" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_vintage" ON "wine_records"("vintage" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_records_wine_name" ON "wine_records" USING GIN ("wine_name" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "idx_sessions_user_id" ON "sessions"("user_id" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_recommendations_confidence_score" ON "wine_recommendations"("confidence_score" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_recommendations_created_at" ON "wine_recommendations"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_wine_recommendations_tier_label" ON "wine_recommendations"("tier_label" ASC);

-- CreateIndex
CREATE INDEX "idx_wine_recommendations_wine_name" ON "wine_recommendations"("wine_name" ASC);

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "fk_sessions_user" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_preferences" ADD CONSTRAINT "fk_user_preferences_user" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- RenameIndex
ALTER INDEX "users_email_idx" RENAME TO "idx_users_email";

-- RenameIndex
ALTER INDEX "sessions_user_id_idx" RENAME TO "idx_sessions_user_id";

-- RenameIndex
ALTER INDEX "sessions_refresh_token_hash_idx" RENAME TO "idx_sessions_refresh_token_hash";

-- RenameIndex
ALTER INDEX "sessions_expires_at_idx" RENAME TO "idx_sessions_expires_at";

-- RenameIndex
ALTER INDEX "wine_recommendations_request_id_idx" RENAME TO "idx_wine_recommendations_request_id";

-- RenameIndex
ALTER INDEX "wine_recommendations_dish_idx" RENAME TO "idx_wine_recommendations_dish";

